%footer#footer
  .container
    .row
      #footer_copyright.col-sm-12.text-center
        %p
          Copyright 2014
          = succeed "." do
            %span
              = link_to "octavius labs", "http://octaviuslabs.com"
        %p
          = link_to "Privacy Policy", "privacy_policy.html"
          |
          = link_to "Blog", "http://blog.vesper.ai"
          |
          = link_to "Request Invite", "index.html#get-started"
    .row
      #footer_socials.col-sm-12.text-center
        #contact_icons
          %ul.contact-socials.clearfix
            %li
              %a.foo_social.ico-twitter{:href => "http://twitter.com/meetvesper"}
                %i.fa.fa-twitter
