%footer#footer
  .container
    .row
      #col-sm-12.text-center
        %p
          = link_to "Sign In", "http://black.vesper.ai"
          |
          = link_to "See My Blog", "http://blog.vesper.ai"
          |
          = link_to "Follow Me On Twitter", "http://twitter.com/meetvesper"
          |
          = link_to "Read My Privacy Policy", "privacy_policy.html"
        %p
          Copyright 2015
          = link_to "octavius labs llc", "http://octaviuslabs.com"
  = javascript_include_tag "all"
  / /[if lt IE 9]
  /   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  /   <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  - if build?
    - data.remote_keys.tracking_pixels.each do |pixel|
      = image_tag pixel, height: "0", width: "0"
    = javascript_include_tag "jquery.scrolldepth.min"
    :javascript
      jQuery(function() {
        jQuery.scrollDepth();
      });
