%section.tour#how_it_works
  .container
    .row
      .col-sm-12.titlebar
        %h2 How It Works
    .row.steps
      .col-md-4.text-center.animated{ data: { animation: "fadeInLeft", "animation-delay" => "300" } }
        %h3 Step 1
        = image_tag "product_shots/set_goal.png", class: "img-responsive"
        %h4 Let Us Know How Many People You Want To Contact Per Day
      .col-md-4.text-center.animated{ data: { animation: "fadeInLeft", "animation-delay" => "800" } }
        %h3 Step 2
        = image_tag "product_shots/lead_processing.png", class: "img-responsive"
        %h4 We set a group of leads up for you to contact
      .col-md-4.text-center.animated{ data: { animation: "fadeInLeft", "animation-delay" => "1300" } }
        %h3 Step 3
        = image_tag "product_shots/alert.png", class: "img-responsive"
        %h4 Using our templates, you quickly work through the list and contact everyone
    .row.action
      .col-sm-12
        = link_to "Take The Tour", "#email_templates", class: "btn header-button-secondary", data: { scroll: true }
        = link_to "Try It Out", "#get-started", class: "btn header-button", data: { scroll: true }