%section.tour#how_it_works
  .container
    .row
      .col-sm-12.titlebar
        %h2 How I Work
    .row.steps
      .col-md-4.text-center.animated{ data: { animation: "fadeInLeft", "animation-delay" => "300" } }
        %h3 Connect Me
        = image_tag "product_shots/connect_email.png", class: "img-responsive"
        %p Connect me with your email and calendar and I will handel the rest of the setup automatically. No need for any data entry.
      .col-md-4.text-center.animated{ data: { animation: "fadeInLeft", "animation-delay" => "800" } }
        %h3 I Recommend
        = image_tag "product_shots/recos.png", class: "img-responsive"
        %p I prioritize and recommend the best actions for you to take in the next 5 minutes and surface them in the application.
      .col-md-4.text-center.animated{ data: { animation: "fadeInLeft", "animation-delay" => "1300" } }
        %h3 You Close More Deals
        = image_tag "product_shots/compose.png", class: "img-responsive"
        %p Since I'm handeling the leg work, you can spend more of your time working directly with customers.
    .row.action
      .col-sm-12
        = link_to "See What I Do", "#i_think_for_you", class: "btn header-button-secondary", data: { scroll: true }
        = link_to "Request Invite", "#get-started", class: "btn header-button", data: { scroll: true }
