%section.pricing{id: "pricing"}
  .container
    .row
      .col-sm-12.titlebar
        %h3 Free For 30 Days
        %h2 Our Pricing
    .row.price-row
      .col-xs-6.col-sm-6.col-md-4.price-col.animated{"data-animation" => "fadeInLeft", "data-animation-delay" => "400", class: "price_1"}
        .pricing-table.text-center
          %h3
            = data.packages.beta_tester.name
          / Plan Price
          .price
            %sup $
            %span.color
              = data.packages.beta_tester.pricing_dollars
            %sup.color
              = data.packages.beta_tester.pricing_cents
            \/mo
          / Plan Features
          %ul.features
            - data.packages.beta_tester.features.each do |feature|
              %li
                = feature
          / Table Button
          %a#select_beta_plan.btn.btn-theme{"data-scroll" => "", :href => "#get-started"} Select Plan
      .col-xs-6.col-sm-6.col-md-4.price-col.animated{"data-animation" => "fadeIn", "data-animation-delay" => "800", class: "price_2"}
        .pricing-table.text-center{class: "highlight" }
          %h3
            = data.packages.unlimited_forver.name
          / Plan Price
          .price
            %sup $
            %span.color
              = data.packages.unlimited_forver.pricing_dollars
            %sup.color
              = data.packages.unlimited_forver.pricing_cents
            \/mo
          / Plan Features
          %ul.features
            - data.packages.unlimited_forver.features.each do |feature|
              %li
                = feature
          / Table Button
          %a#select_ulimited_plan.btn.btn-theme{"data-scroll" => "", :href => "#get-started"} Select Plan
      .col-xs-6.col-sm-6.col-md-4.price-col.animated{"data-animation" => "fadeInRight", "data-animation-delay" => "1200", class: "price_3"}
        .pricing-table.text-center{class: "highlight-black" }
          %h3
            = data.packages.black.name
          / Plan Price
          .price
            %sup $
            %span.color
              = data.packages.black.pricing_dollars
            %sup.color
              = data.packages.black.pricing_cents
            \/mo
          / Plan Features
          %ul.features
            - data.packages.black.features.each do |feature|
              %li
                = feature
          / Table Button
          %a#select_ulimited_plan.btn.btn-theme{"data-scroll" => "", :href => "#get-started"} Select Plan
